.leads{
  border: 1px solid #f2f2f2;
}
.title{
  color: #244f94;
}

.source{
  color: white;
  background: #F09942;
}
.leadstatus-mydeal{
    background: #00B4CC;
}

.leadstatus-walk-in{
    background: #244F94;
}
.leadstatus-kijiji{
  background: #F46B82;
}

.leadstatus-bdc{
  background: #39C875;
}

.leadstatus-autotrader{
  background: #FBE946;
}
th{
  background: #244F94;
  color:white
}

tr ,td {
  text-align: center;
}

